
body{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
}
  .container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50vw;
    height: 50vw;
  }
table{
  margin: 0 auto;
	border-collapse: collapse;
	background: rgb(235, 91, 91);
}
tr:nth-child(odd) td:nth-child(even){
  background:rgb(27, 2, 2);
  width: 5vw;
  height: 5vw;
}
tr:nth-child(even) td:nth-child(odd){
  background:rgb(27, 2, 2);
  width: 5vw;
  height: 5vw;
}
#row{
  background: rgb(235, 91, 91);
}
